server:
  servlet:
    context-path: /prodhub
  port: 8081
  shutdown: graceful  

springdoc:
  swagger-ui:
    path: /swagger-ui.html
  api-docs:
    path: /api-docs
    enabled: true

spring:
  data:
    mongodb:
      host: 127.0.0.1
      port: 27017
      database: prodhub
      pool:
        max-wait-queue-size: 1000
        min-size: 5
        max-size: 20
        max-life-time: 1000
        max-wait-time: 30
        maintenance-initial-delay: 1000
        maintenance-frequency: 1000
        max-connection-idle-time: 5
  kafka:
    bootstrap-servers: localhost:9092
    topic:
      buildStatus: buildStatus

management:
  endpoints:
    web:
      exposure:
        include: '*'
  endpoint:
    health:
      show-details: always

vault:
  uri: http://localhost:8200
  token: hvs.kuonI3JQThkmxiaySCBuPwrT

cicaptain:
  uri: http://localhost:4457/ci-captain
  triggerBuildPath: /api/v1/providers/{providerId}/jobs/{job}/trigger
  buildStatus: /api/v1/providers/%s/job/%s/status

deplorch:
  uri: http://localhost:4455/deplorch
  initiateDeployment: /api/v1/deployment